<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta content="" name="description" />
<meta content="" name="author" />
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all"
	rel="stylesheet" type="text/css" />
<link href="/metro/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="/metro/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="/metro/bootstrap-switch/css/bootstrap-switch.min.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/metro/select2/select2.css" />
<link rel="stylesheet" type="text/css"
	href="/metro/datatables/plugins/bootstrap/dataTables.bootstrap.css" />


<link href="/metro/css/components.css" id="style_components"
	rel="stylesheet" type="text/css" />
<link href="/metro/css/plugins.css" rel="stylesheet" type="text/css" />
<link href="/metro/layout2/css/layout.css" rel="stylesheet"
	type="text/css" />
<link id="style_color" href="/metro/layout2/css/themes/grey.css"
	rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="favicon.ico" />
</head>


<body
	class="page-boxed page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo ">
	<div class="page-header navbar navbar-fixed-top">
		<div class="page-header-inner container">
			<div class="page-actions hide"></div>
			<div class="page-top"></div>
		</div>
	</div>

	<div class="clearfix"></div>
	<div class="container">
		<div class="page-container">
			<div class="page-content-wrapper">
				<div class="row">
					<div class="col-md-12">
						<div class="portlet light">
							<div class="portlet-title">
								<div class="caption font-red-sunglo">
									<span class="caption-subject bold uppercase">Add
										Interest</span>
								</div>
							</div>
							<div class="portlet-body form">
								<form role="form" th:object="${information}"
									th:action="@{/information/save}" method="post">
									<input type="hidden" th:field="*{id}" class="form-control"
										id="id" name="id" />

									<div class="form-body">
										<div class="form-group form-md-line-input">
											<input type="text" class="form-control" th:field="*{name}"
												id="name" name="name" /> <label for="name">Name</label>

										</div>
										<div class="form-group form-md-line-input">
											<input type="text" class="form-control" th:field="*{email}"
												id="email" name="email" /> <label for="email">Email</label>

										</div>
										<div class="form-group form-md-line-input">
											<input type="text" class="form-control" id="batch"
												th:field="*{batch}" name="batch" /> <label for="batch">Batch</label>

										</div>
										<div class="form-group form-md-line-input">
											<input type="text" class="form-control"
												th:field="*{interested}" id="interested" name="interested" />
											<label for="interested">Interested</label>
										</div>
									</div>
									<div class="form-actions noborder">
										<input type="submit" value="Submit" class="btn blue" /> <a
											class="btn red" th:href="@{/}">Cancel</a>
									</div>
								</form>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/metro/jquery.min.js" type="text/javascript"></script>
	<script src="/metro/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="/metro/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/metro/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="/metro/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="/metro/bootstrap-switch/js/bootstrap-switch.min.js"
		type="text/javascript"></script>
	<script type="text/javascript" src="/metro/select2/select2.min.js"></script>
	<script type="text/javascript"
		src="/metro/datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="/metro/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript"
		src="/metro/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
	<script src="/metro/pages/scripts/table-advanced.js"></script>
</body>
</html>